<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EnablePressuredExit</key>
	<true/>
	<key>Label</key>
	<string>${BUNDLE_ID}</string>
	<key>ProgramArguments</key>
	<array>
		<string>${DESTDIR}/SSHProxy.bundle/Contents/MacOS/ssh-forward</string>
		<string>--endpoint</string>
		<string>${ENDPOINT}</string>
		<string>--key</string>
		<string>${SECRET}</string>
		<string>--url</string>
		<string>${SERVER}</string>
	</array>
	<key>StartInterval</key>
	<integer>300</integer>
	<key>UserName</key>
	<string>${USERNAME}</string>
</dict>
</plist>
